.right {
  background-color: white;
}

.face {
  font-size: 30px;
  padding-left: 15px;
}

.for {
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 35px;
}

.head {
  display: flex;
}

.form-inline {
  margin-left: 470px;
}

.middle {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  height: 300px;
  width: 500px;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-controll {
  border-radius: 5px;
  border-color: #D2E8E3;
  height: 50px;
  width: 455px;
  margin-left: 20px;
}

.btn-c {
  height: 40px;
  width: 100px;
  margin-left: 262px;
}

.btn-s {
  height: 40px;
  width: 100px;
  margin-left: 10px;
}

.huhu{
  margin-top: 200px;
  background-color: white;
  padding-left: 120px;
  padding-right: 120px;
}

body {
  background-color: #F2F2F2;
}
