body {
  background-color: #D9D9D9;
}

.snd {
  margin: auto;
  margin-top: 50px;
  height: 620px;
  width: 470px;
  border-radius: 10px;
  background-color: white;
}

.t {
  margin-top: -10px;
}

.text {
  padding-left: 10px;
  border-bottom: 10px;
}

.form-control {
  margin-left: 10px;
}

#voting {
  width: 440px;
}

.ft,.fth {
  margin-top: 8px;
}

.tt {
  margin-top: 10px;
  padding-left: 13px;
  font-size: 11px;
}

.tth {
  font-size: 13px;
}

.so {
  width: 110px;
}

.st {
  padding-left: 10px;
}

.tf {
  padding-left: 10px;
  padding-top: 15px;
  font-size: 12.5px;
}

.tfi {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12.5px;
}

.btn {
  margin-left: 150px;
  width: 170px;
  font-weight: bold;
}
